body {
	overflow: hidden;
	background-color: #000000;
}
#goo {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

#info-box {
	position: fixed;
	bottom: 10;
	right: 10;
	color: black;
	z-index:100;
	padding: 1em;
	border-radius: 1em;
	background-color: #808080;
}
#info-box a {
	color: black;
}
div#loadingOverlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 10;
}
div#loadingOverlay div.loadingMessage {
	position: relative;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	text-align: center;
	width: 100%;
	text-shadow: 0 0 20px black, 0 0 50px white;
	user-select: none;
	-webkit-user-select: none;
}
div#loadingOverlay div.loadingMessage h1 {
	font-family: sans-serif;
	font-weight: normal;
	color: #ccc;
	font-size: 40px;
	display: inline-block;
	background-image: url('spinner.gif');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 50px;
}
div#loadingOverlay div.loadingMessage .progressBar {
	width: 400px;
	border: 1px solid #ccc;
	height: 30px;
	margin: auto;
	border-radius: 3px;
	display: none;
	position: relative;
}
div#loadingOverlay div.loadingMessage .progressText {
	line-height: 30px;
	color: white;
	font-size: 1.2em;
	font-family: sans-serif;
	margin: 0 auto;
}
div#loadingOverlay div.loadingMessage .progressBar .progress {
	background: #999;
	height: 100%;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
div#victory-box {
	position: relative;
	width: 400px;
	margin: 0 auto;
	border-radius: 3px;
	font-size: 3em;
	padding: 10px;
	display: none;
	z-index: 10;
	text-align: center;
}
div#victory-box.white {
	color: black;
	background-color: rgba(255, 255, 255, 0.8);
}
div#victory-box.black {
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}